<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block title %}
Contact
{% endblock %}

{% block content %}
<div class="card text-center">
 <h1 style="font-size: 24px; line-height: 1.5;">City Hospital<br>
 M.G Road, Padma Jn.<br>
 Cochin- Pin: 6820635, India<br><br>
 Reception - +91 97444 733060<br>
 Foetal Medicine & USG Scan - +91 70346 998886<br>
 Enquiry - +91 75920 007631 / +91 75920 007326<br>
 Laboratory - +91 79947936111<br>
 Pharmacy - +91 79447964644<br>
 IVF- +91 75920886111<br>
 Labour Room- +91 75926088333<br>
 Insurance & Billing- +91 79694792444<br><br>
 Email: mail@cityhospitals6.co.in</h1>
</div>
{% endblock %}

</body>
</html>